@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<form action="/Home/Increment">
    <input type="submit" value="Increment!" />
   
</form>

<h1>@ViewBag.Num</h1>