
@{
    ViewBag.Title = "Signup";
}

<h2>Signup</h2>

<form action="/Home/AddUser" method="post">
    <label class="control-label">First Name</label> <input type="text" name="FirstName" class="form-control" />
    <label class="control-label">Last Name</label> <input type="text" name="LastName" class="form-control" />
    <input type="submit" value="Sign Up!" class="btn-default" />
</form>